$body-bg: #000000;
$footer-bg: #252427; 
$btn-primary: #12F529; 
$btn-secondary: #252427; 
$btn-disabled: #78777C;
$primary-col: #FFFFFF; 
$board-bg: #656370; 
$ship-bg: #8981BA;  
$ship-miss: #EAEBAC;
$ship-hit: #DE7272;