@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Roboto:ital,wght@0,400;0,700;1,500&display=swap');
@import './mixins'; 
@import './variables'; 
@import './general';


.boards {
    display: flex; 
    gap: 50px; 
    flex-direction: column;
    width: 80vw; 
    align-items: center;
    justify-content: center;
    margin: 0 auto; 

    @include resize('laptop') {
        flex-direction: row;

    }
}


.gameboard {
    display: grid; 
    grid-template-columns: repeat(10, minmax(20px,4vw));
    grid-template-rows: repeat(10, minmax(20px,4vw));
    background-color: $primary-col;

    div {
        // max-height: 100px;
        height: 100%; 
        // max-width: 100px;
        width: 100%;  
        // outline: 1px dashed $primary-col-dark; 
        cursor: pointer;

        div {
            &:hover {
                opacity: 0.2; 
            }
        }
    }
}

.ship, .miss, .hit {
    &:hover {
        opacity: 0.2; 
    }
}

article {
    width: 80vw; 
    display: flex;
    flex-wrap: wrap; 
    gap: 10px; 
    .ship {
        display: flex;
        background-color: transparent ;
    }

    .used {
        .square {
            background-color: rgb(61, 55, 55);
            outline: 1px dashed rgb(61, 55, 55); 
        }
    }

    .square {
        height: 30px; 
        width: 30px; 
        background-color: $primary-col;
        // outline: 1px dashed $primary-col-dark; 
    }

    .selected {
        .square {
            background-color: purple;
        }
    }
}


.btn-primary {
    background-color: $btn-primary; 
    color: $body-bg; 

    &:hover {
        color: $primary-col; 
    }
}

.btn-secondary {
    background-color: $btn-secondary; 
    color: $primary-col; 

    &:hover {
        color: $btn-primary; 
    }
}

//ships 
.ship-container {
    display: flex; 
    &.vertical{
        flex-direction: column;
    }

    .square {
        height: 30px;
        width: 30px; 
        background-color: $ship-bg;
        border: 1px dashed white; 
        @include resize('tablet') {
            height: 50px;
            width: 50px; 
        }
    }
}


.page2 {
    .container {
        margin-top: 20px; 
        display: grid;
        @include resize('laptop') {
            gap: 20px; 
        }
    }

    button {
        font-size: 1.2em; 
        
    }
}


.page3 {
    .container {
        margin-top: 20px; 
        display: grid; 
        grid-template-rows: 1fr 1fr;
        grid-template-columns: 1fr;
        gap: 20px; 
        @include resize('tablet') {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
        }
    }
}


// draggables
.dragging {
    opacity: 0.5;
}

// footer
footer {

    li {
        list-style-type: none;
        font-size: 2em; 

        &:hover {
            color: $btn-disabled; 
        }
    }

    ul {
        display: flex; 
        gap: 10px; 

    }
}